html, body {
margin: 0;
padding: 0;
}

.container {

}

.slider {
  background: url(connect.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  width: 100%;
}

#content {
  position: absolute;
}

.header {
  overflow: hidden;
  position: fixed;
  background: #2D2D2D;
  top: 0;
  width: 100%;
}

.top_bar {
  background-color: #000000;
  width: 21.5%;
  height: 8px;
}

.home {
  width: 35%;
}

.about {
  width: 31%;
}

.contact {
  width: 34%;
}

.current {
  background-color: #E00000;
  height: 8px;
}

.nav {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 3%;
  padding-right: 0;
}

.nav li {
  list-style-type: none;
  float: left;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5%;
  text-transform: uppercase;
}

.btn-selected {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-menu {
  color: #878787;
  text-decoration: none;
}
.icons li {
  float: right;
  margin-right: 5%;
}

.media {

}

.icons {
  list-style-type: none;
  

}

#main_content {
  margin-top: 90.6px;
}

.slider_box {
  background-color: #3A3A3A;
  opacity: 0.7;
  left: 0;
  height: 800px;
  width: 310px;
}

.slider_text {
  text-align: center;
  line-height: 26px;
  top: 66.7px;
  width: 280px;
  margin-left: 14px;
  color: #FFFFFF;
  font-family: helvetica;
  font-weight: lighter;
}

.slider_text header {
  top: 60px;
  font-size: 36px
}

.slider_text hr {
  border: 0;
  top: 100px;
  left: 30px;
  width: 80%;
  opacity: 0.8;
  background-color: #FFFFFF;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.slider_text p {
  top: 140px;
  font-size: 18px
}

.slider_text a {
  background-color: #E00000;
  color: #FFFFFF;
  font-family: helvetica;
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
  left: 65px;
  top: 530px;
  height: 50px;
  width: 150px;
}

#pagination {
  top: 850px;
  left: 660px;
  clear:both;
  width:250px;
  margin:-40px auto 0;
  padding:0;
}

#pagination li {
  list-style:none;
  float:left;
  margin:0 5px;
}

#pagination li a {
  display:block;
  width:35px;
  height:35px;
  text-indent:-10000px;
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset 5px 5px 5px rgba(0, 0 ,0, 0.4);
}

#pagination li a.active {
  background: #FFFFFF;
  opacity: 1.0;
}

.events {
  top: 950px;
  left: 610px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 38px;
}

.events hr {

  width: 80%;
  opacity: 0.8;
  background-color: #FFFFFF;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.event1 img {
  top: 1075px;
  left: 25px;
}

.event_box {
  padding: 15px;
  top: 1075px;
  left: 775px;
  height: 420px;
  width: 700px;
  background-color: #3A3A3A;
}

.event_box header {
  font-size: 36px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.event_box hr {
  border: 0;
  top: 0px;
  left: -210px;
  width: 40%;
  background-color: #FFFFFF;
  height: 2px;
}

.event_box p {
  padding-top: 15px;
  line-height: 35px;
  font-size: 26px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.event2 img {
  top: 1575px;
  left: 25px;
}

.event2_box {
  padding: 15px;
  top: 1575px;
  left: 775px;
  height: 420px;
  width: 700px;
  background-color: #3A3A3A;
}

.event2_box header {
  font-size: 36px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.event2_box hr {
  border: 0;
  top: 0px;
  left: -210px;
  width: 40%;
  background-color: #FFFFFF;
  height: 2px;
}

.event2_box p {
  padding-top: 15px;
  line-height: 30px;
  font-size: 26px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.event3 img {
  top: 2075px;
  left: 25px;

}

.event3_box {
  padding: 15px;
  top: 2075px;
  left: 775px;
  height: 420px;
  width: 700px;
  background-color: #3A3A3A;
}

.event3_box header {
  font-size: 36px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.event3_box hr {
  border: 0;
  top: 0px;
  left: -210px;
  width: 40%;
  background-color: #FFFFFF;
  height: 2px;
}

.event3_box p {
  padding-top: 15px;
  line-height: 35px;
  font-size: 26px;
  font-family: helvetica;
  font-weight: lighter;
  color: #FFFFFF;
}

.footer {
  height: 800px;
}

.copyright {
  text-align: center;
  color: #2D2D2D;
  height: 50px;
  top: 1800px;
  padding: 0;
}
