html, body {
margin: 0;
padding: 0;
}

.container {
  max-width: 940px;
}

.slider {
  background: url(connect.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
}

.header {
  position: relative;
  background: #2D2D2D;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.top_bar {
  position: absolute;
  color: #000000;
  top: 0;
  left: 0;
  width: 342px;
  height: 6.65px;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 6.65px;
}

.about {
  position: absolute;
  top: 0;
  left: 110px;
  width: 114px;
  height: 6.65px;
}

.contact {
  position: absolute;
  top: 0;
  left: 224px;
  width: 118px;
  height: 6.65px;
}

.current {
  color: #E00000;
  top: 0;
  left: 0;
  width: 100px;
  height: 10%;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-right: 40px;
  text-transform: uppercase;
}

.btn-menu {
  color: #878787;
  text-decoration: none;
}

.btn-selected {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-slider {
  color: #FFFFFF;
  text-decoration: none;
}

.slider_text {
  color: #FFFFFF;
  font-family: helvetica;
  font-weight: lighter;
}

.slider_text p {
  margin: 0;
  padding: 0;
  font-size: 36px
}
